<a href="https://colab.research.google.com/github/hyeonsick/hyeon_sick/blob/main/211019_%EC%A4%91%EA%B0%84%EA%B3%A0%EC%82%AC_%EB%A6%AC%EB%B7%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#1. 파이썬 변수로 사용할 수 없는 것은?
_num = 1
num = 2
num1 = 3
# 2num = 4
# 변수를 선언할 때 맨 앞에 숫자는 올 수 없다!
n_um = 5

SyntaxError: ignored

In [3]:
#2. 각 변수에 저장된 최종 값은?
sum = 0
n1 = 10
n1 = n1 +10
n2 = 20
sum = n1+n2
print(n1,n2,sum)

20 20 40

In [4]:
#3. 적절한 연산자 찾기
print(17//4)
print(17/4)
print(17%4)

4
4.25
1

In [10]:
#4. 데이터 타입 찾기
age = 17
strr = "나이"
tu = (17,'나이')
print(type(age))
print(type(strr))
print(type(tu))

<class 'int'>
<class 'str'>
<class 'tuple'>

In [11]:
#5. 문자열 인덱싱
s = "Hello hanyang!"
print(s[5],s[-5])

  y

In [12]:
#6. upper.()함수와 문자열 슬라이싱
s= "Hello hanyang!"
print(s)
s = s.upper()
print(s)
print(s[:8])

Hello hanyang!
HELLO HANYANG!
HELLO HA

In [13]:
#7. 여러 데이터를 다루는 파이썬의 자료형
#리스트, 튜플, 딕셔너리, 셋

In [14]:
#8~9. 리스트
a = ['a',1,'python',(1,2),'2',[1,2]]
print(a[3])
print(1 in a, 2 in a)

(1, 2)
True False

In [16]:
#10. 리스트와 리스트 함수
nums= list(range(4))
print(nums)
nums.insert(3,100)
print(nums)

[0, 1, 2, 3]
[0, 1, 2, 100, 3]

In [18]:
#11 튜플의 개념
a = 100
b = 200
a,b=b,a
print(a,b)

200 100

In [20]:
 #12. 딕셔너리
 a = {'han':1,1:2,'1':3}
a[1] = 'yang'
print(a)

{'han': 1, 1: 'yang', '1': 3}

In [21]:
 #13.  셋
a = set('Hello')
print(a)

{'l', 'H', 'o', 'e'}

In [23]:
#14~15.
room = [[0,0,1,0,9],
        [1,0,1,0,1],
        [0,1,1,1,0]]

mouse = room[0][2]

if mouse == 1:
  print("cheese")
elif mouse == 9:
  printr("trap")
else:
  print("nothing")

cheese

In [24]:
#16~17.

a = 0
b = 0

for i in range(3,9): #(3,4,5,6,7,8)
  if i%2 ==0and i%3 ==0:
    continue
  elif i%2 ==0:
    a += 1
  elif i%3 ==0:
    b += 1
print(a,b)

2 1

In [41]:
#18~20.
print("=======================민재돼지====================")
print("메뉴")
print("메뉴번호 1.햄버거(300원) 2. 피자(500) 3.치킨(700원)")
print("===================================================")

money = int(input("투입 금액: "))
menu = int(input("메뉴 번호: "))

if menu == 1:
  money -= 300
elif menu == 2:
  money -= 500
elif menu == 3:
  money -= 700
if money < 0:
  print("오류: 잔액이 부족합니다!")
else:
  won10000 = money//10000
  won5000 = money%10000//5000
  won1000 = money%5000//1000
  won500 = money%1000//500
  won100 = money%500//100

  print("거스름돈 : 만원 {}개, 오천원 {}개, 천원 {}개, 오백원{}개, 백원{}개".format(won10000, won5000, won1000, won500, won100))

=======================민재돼지====================
메뉴
메뉴번호 1.햄버거(300원) 2. 피자(500) 3.치킨(700원)
===================================================
투입 금액: 50000
메뉴 번호: 3
거스름돈 : 만원 4개, 오천원 1개, 천원 4개, 오백원0개, 백원3개