<a href="https://colab.research.google.com/github/hyeonsick/hyeon_sick/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85(dict%2Cset).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

학습목표
- dictionary, set에 대해 이해하기.

dictionary
- 키와 값을 갖는 데이터 구조
- 키는 내부적으로 hash값으로 저장
- 순서를 따지지 않음

In [6]:
a = {'Korea': 'Seoul',
     'Canada': 'Ottawa',
     'USA': 'Washington D.C'}
b = {0:1, 1:6, 7:9, 8:10}     
print(a['Korea'])
# print(a['japan'])
print(b[0])

Seoul
1

### **항목 추가 및 변경**
- 기존에 키가 존재하면, 새로운 값으로 업데이트
- 기존에 키가 존재하지 않으면 새로운 키 값으로 생성

In [7]:
a['japan'] = 'Tokyo'
a['japan'] = 'Osaka'
a['China'] = 'Beijing'

print(a)

{'Korea': 'Seoul', 'Canada': 'Ottawa', 'USA': 'Washington D.C', 'japan': 'Osaka', 'China': 'Beijing'}

- update()
  - 두 딕셔너리를 병합
  - 겹치는 키가 있다면, 전달되는 값이 업데이트된다.

In [9]:
a = {'a':'apple','b':'bus','c':'car'}
b = {'a':'ant','d':'dog','e':'egg'}

a.update(b)
print(a)

{'a': 'ant', 'b': 'bus', 'c': 'car', 'd': 'dog', 'e': 'egg'}

### **key삭제**
- del 키워드
- pop 함수 이용

In [14]:
a = {'a':1,'b':2,'c':3}
print(a)

d = a.pop('b')
print(a)
print(d)

del a['c']
print(a)

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'c': 3}
2
{'a': 1}

###clear()
- 딕셔너리 값을 모두 초기화

In [16]:
a['add'] = 3
print(a)
a.clear()
print(a)

{'add': 3}
{}

##in
- key 값 존재 확인

In [17]:
a = {'a': 1, 'b':2,'c':3}
print(2 in a)
print('a' in a)

False
True

- dict[key]로 접근, 키가 없는 경우에는 에러
- .get() 함수로 접근, 키가 없는 경우에도 프로그램 실행 -> None반환

In [18]:
a = {'a':1,'b':2,'c':3}
print(a.get('d'))

None

#### **모든 keys, values 접근**
- key() - 키만 반환
- values() - 값만 반환
- items() - 키, 값의 듀플을 반환

In [20]:
a = {'a':1,'b':2,'c':3}
print(a)
print(a.keys())
print(a.values())
print(a.items())

{'a': 1, 'b': 2, 'c': 3}
dict_keys(['a', 'b', 'c'])
dict_values([1, 2, 3])
dict_items([('a', 1), ('b', 2), ('c', 3)])

### **Set**
- dictionary에서key만 활용한 데이터 구조{}
- 중복이 허용되지 않는 구조

In [21]:
a = {1,1,1,2,5,2,2,2,6,2}
print(a)

{1, 2, 5, 6}

In [22]:
a = [1,2,3,5,6,7,3,3,4,6,7,3,3,2,]
print(a)

b = set(a)
print(b)

[1, 2, 3, 5, 6, 7, 3, 3, 4, 6, 7, 3, 3, 2]
{1, 2, 3, 4, 5, 6, 7}

In [26]:
a = {1,2,3}
b = {2,3,4}

print(a.union(b)) #합집합
print(a.intersection(b)) #교집합
print(a.difference(b)) #차집합

{1, 2, 3, 4}
{2, 3}
{1}