<a href="https://colab.research.google.com/github/hyeonsick/hyeon_sick/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%83%80%EC%9E%85(list%2Ctuple).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **학습목표**
-리스트(list)와 튜플(tuple)에 대해 이해하기
- 딕셔너리(dic)와 셋(set)에 대해 이해하기

### **리스트(list)와 튜플(tuple)**

- 여러 개의 값을 담을 수 있는 데이터 구조
- list : 생성한 후에 변경이 가능
- tuple : 생성한 후 변경 불가능

In [1]:
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [2]:
a = ['컴넷', 'A', '1학년', 10, 20, [2,3]]
print(a)

['컴넷', 'A', '1학년', 10, 20, [2, 3]]

In [7]:
a = "hello comnet A!"
b = list(a)
c = a.split()
d = a.split('l')
print(b)
print(c)
print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'c', 'o', 'm', 'n', 'e', 't', ' ', 'A', '!']
['hello', 'comnet', 'A!']
['he', '', 'o comnet A!']

## **리스트 indexing**

- []연산자를 이용해 항목을 가져온다.
- [i] : i번째 원소를 반환한다.
- i가 음수면, 마지막 원소에서 -1로 하여 가져온다.

In [11]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[0], a[2])
print(a[-1], a[-3],a[-10])
print(a[10])

1 3
10 8 1

IndexError: ignored

In [15]:
#인덱스 접근 후 값을 업데이트
a = "hello comnet A!"
b = a.replace('l','w')
c = 'j' +a[1:]
print(b)
print(c)

a = [1,2,3,4,5,6,7,8,9,10]
a[0] = 100
a[-1] = 90
print(a)

hewwo comnet A!
jello comnet A!
[100, 2, 3, 4, 5, 6, 7, 8, 9, 90]

### **리스트 slicing
- 슬라이싱 결과 역시 리스트

In [20]:
# a = [1,2,3,4,5,6,7,8,9,10]

print(a[3:7])
print(a[:7])
print(a[3:])
print(a[:])
print(a[1:7:2])

[4, 5, 6, 7]
[100, 2, 3, 4, 5, 6, 7]
[4, 5, 6, 7, 8, 9, 90]
[100, 2, 3, 4, 5, 6, 7, 8, 9, 90]
[2, 4, 6]

### **리스트 멤버 함수**
- 생성된 리스트에 동작하는 함수
- append() : 리스트 끝에다가 항목을 추가
- extend() : 리스트를 연장(+=)
- insert() : 원하는 위치에 추가 가능 (위치, 아이템)

- remove() : 값으로 항목을 삭제
- pop() : 지우고자 하는 인덱스에 아이템을 반환후 삭제
- index() : 찾고자하는 값의 인덱스를 반환

In [24]:
a = [1,2,3,4,5]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 10]

In [26]:
a += b
print(a)

[1, 2, 3, 4, 5, 10, 11, 12, 13, 14, 15, 11, 12, 13, 14, 15]

In [27]:
a.insert(5, 20)
print(a)

[1, 2, 3, 4, 5, 20, 10, 11, 12, 13, 14, 15, 11, 12, 13, 14, 15]

In [28]:
a.remove(5)
print(a)

[1, 2, 3, 4, 20, 10, 11, 12, 13, 14, 15, 11, 12, 13, 14, 15]

In [30]:
a = [1,2,3,4,10,11,12,13,14,15]
c = a.pop(0)
print(a)
print(c)

[2, 3, 4, 10, 11, 12, 13, 14, 15]
1

In [31]:
a = [2,6,7,9,10]
a.index(10)

4

## **in 키워드**
- 리스트 내에 해당 값이 존재하는지
- True, False 중 한가지로 반환
- 값 in [list]

In [34]:
a = [1,2,3,4,5,6,7]
b = 5
c = 10
d = b in a
print(d)
print(b in a)
print(c in a)

True
True
False

**list 정력**

- sort() : 리스트 자체를 내부적으로 정렬
- sorted(): 정력된 리스트의 복사본을 반환

In [39]:
a = [9,10,23, 1,2,45,2,35,123,31,6]
b = sorted(a)
print(a)
a.sort(reverse=True)
print(a)
print(b)

[9, 10, 23, 1, 2, 45, 2, 35, 123, 31, 6]
[123, 45, 35, 31, 23, 10, 9, 6, 2, 2, 1]
[1, 2, 2, 6, 9, 10, 23, 31, 35, 45, 123]

## **튜플(Tuple)**
- 리스트와 같이 여러 개의 값을 갖는 데이터 컬렉션 타입
- 생성된 후 변경이 불가능

In [41]:
a = [1,2,3]
b = (1,2,3)

print(type(a))
print(type(b))

a[0] = 100
print(a)
#b[0] = 100 오류
# print(b)

<class 'list'>
<class 'tuple'>
[100, 2, 3]

In [42]:
a,b,c,d = 10,20,30,40
print(a,b,c,d)

10 20 30 40

In [44]:
a = 5
b = 4

#문제! a,b의 값을 교환하시오
#temp = a
#a = b
#b = temp
print(a,b)
a, b = b, a
print(a, b)

5 4
4 5